*, *::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(40, 40, 48);
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startinglogo {
  cursor: default;
  text-align: center;
  animation-duration: 3s;
  animation-name: zoom;
  animation-fill-mode: forwards; 
}
@keyframes zoom {
  0% {
    scale: 0%;
    opacity: 100;
  }
  25%, 50%, 75% {
    opacity: 100;
  }
  100% {
    scale: 300%;
    opacity: 0;
  }
}

.purpletext{
  color: rgb(173, 50, 173);
}

.redtext{
  color: rgb(218, 35, 35);
}
 
.quoteprompt {
  animation-duration: 6s;
  animation-name: appear;
  animation-fill-mode: forwards;
  display: none;
  margin-top: -6.25rem;
  width: 30rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}

.promptlogo {
  font-size: 4rem;
  margin-bottom: 0.3em;
  cursor: default;
  text-align: center;
}
.promptform {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 input#prompt {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  font-family: "Stack Sans Headline", sans-serif;

 }

 #prompt:hover {
  background-color: lightgray;
 }

 #prompt:focus,  #submitbtns button:focus {
  outline: none;
  background-color: lightgray;
 }

 button#search, button#lucky {
   display: block;
   font-family: "Stack Sans Headline", sans-serif;
   padding: 10px 20px;
   border-radius: 10px;
   border: 1px solid transparent;
   font-weight: bold;
 }

 #submitbtns button:hover {
  background-color: lightgray;
  border: 1px black solid;
 }

 div#submitbtns{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
 }

 .displaynone {
  display: none;
 }

 .displayblock {
  display: block;
 }