body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(40, 40, 48);
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startinglogo {
  font-size: 4rem;
  cursor: none;
}

.startinglogo span:nth-child(odd){
  color: rgb(173, 50, 173);
}

.startinglogo span:nth-child(even){
  color: rgb(218, 35, 35);
}