body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(40, 40, 48);
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startinglogo {
  cursor: default;
  animation-duration: 3s;
  animation-name: zoom;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0% {
    scale: 0%;
    opacity: 100;
  }
  25% {
    opacity: 100;
  }
  50% {
    opacity: 100;
  }
  75% {
    opacity: 100;
  }
  100% {
    scale: 300%;
    opacity: 0;
  }
}

.startinglogo span:nth-child(odd){
  color: rgb(173, 50, 173);
}

.startinglogo span:nth-child(even){
  color: rgb(218, 35, 35);
}